

#info_bar{
	border-style : solid;
	height : 10vh;
	width : 99%;
	margin-left:1px;
}
#map{
	width : 75vw;
	height : 85vh;
	background-image : url("map.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 75vw 100vh;
}

#menu_droite{
	width : 20%;
}
#ventes_actuelles{
	border-style : solid;
	height : 75vh;
	overflow:auto;
}