.row{
	border-style : solid;
}

[class*="col-"]{
	border-style : double;
}

#info_bar{
	margin-left: 0.01vw;
	height : 10vh;
}
#map{
	width : 75vw;
	height : 85vh;
	background-image : url("map.jpg");
	 background-repeat: no-repeat;
    background-attachment: fixed;
	 background-size: 75vw 100vh;
}

#ventes_actuelles{
	border-style : solid;
	height : 80vh;
	overflow:auto;
}