*{
font-size : 30px;
}

#info_bar, #button_menu{
	border-style : solid;
	height : 10vh;
	width : 99%;
	margin-left:1px;
	/*font-size : 300%;*/
	text-align: center;
}
#map{
	width : 75vw;
	height : 85vh;
	background-image : url("map.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 75vw 100vh;
}

#menu_droite{
	width : 20%;
	text-align: center;
}

#ventes_actuelles{
	border-style : solid;
	height : 75vh;
	overflow:auto;
}

#recettes_en_ventes{
	text-align: left;
}

#creation_recette, #mes_recettes{
font-size : 30px;
}

#ingredients{
	text-align: center;
	border-style : solid;
	height : 70vh;
	overflow:auto;
}

#ingredients div{
	border-style : solid;
}

table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
}




